<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>

  <body>
    {% include "partials/nav.njk" %}

    <main id="main" tabindex="-1">
      {% if breadcrumbs %}
      <nav class="breadcrumb" aria-label="Breadcrumb">
        <div class="breadcrumb-container">
          <ol class="breadcrumb-list">
            {% for crumb in breadcrumbs %}
              {% if loop.last %}
              <li class="breadcrumb-item active">{{ crumb.icon }}{{ crumb.label }}</li>
              {% else %}
              <li class="breadcrumb-item">
                <a href="{{ assetPath }}{{ crumb.url }}">{{ crumb.icon }}{{ crumb.label }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ol>
        </div>
      </nav>
      {% endif %}

      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
    {% include "partials/scripts.njk" %}
  </body>
</html>

